@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #30292F;
  --background-color-2: #171417;
  --secondary-background-color: #584B56;
  --forground-color: #ECF0F1;
  --main-highlight: #F9A620;
  --secondary-highlight: #297373;
  --third-hightligh: #D95D39;
}

h1 {
  font-size: 32px;
  color: var(--main-highlight);
}

h2 {
  font-size: 26px;
  color: var(--secondary-highlight);
}

p {
  font-size: 20px;
  color: var(--forground-color);
}

a {
  color: var(--third-hightligh);
}

body {
  background-color: var(--background-color);
  color: var(--forground-color);
}

.main-body {
  background-color: var(--background-color)
}

.page-row{
  background-color: var(--secondary-background-color);
  border-color: var(--secondary-highlight);
}

